In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
#Reads data into a dataframe object
df = pd.read_csv('../Data Science Evaluation.csv')

#Adds a column for profit per unit
df['Profit per Unit'] = round(df['Total Profit'].div(df['Units Sold'], axis=0))

#Adds a column for days taken to ship
difference_list = []
for order, ship in zip(list(df["Order Date"]), list(df["Ship Date"])):
    start_date = datetime.strptime(order, '%m/%d/%y')
    end_date = datetime.strptime(ship, '%m/%d/%y')
    difference = end_date - start_date
    difference_list.append(difference.days)
df["Days to Ship"] = difference_list
df

,Region,Country,Item Type,Fiscal Year,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Profit as % of Cost,Profit per Unit,Days to Ship
0,Sub-Saharan Africa,Cote d'Ivoire,Snacks,2010,Online,C,4/23/10,241891753,4/26/10,10000,152.58,97.44,1525800.00,974400.00,551400.00,0.565887,55.0,3
1,Sub-Saharan Africa,Ethiopia,Snacks,2010,Online,H,6/6/10,530075585,7/1/10,10000,152.58,97.44,1525800.00,974400.00,551400.00,0.565887,55.0,25
2,Central America and the Caribbean,Panama,Clothes,2011,Offline,H,1/2/11,293357980,1/22/11,10000,109.28,35.84,1092800.00,358400.00,734400.00,2.049107,73.0,20
3,Europe,Sweden,Office Supplies,2012,Online,L,10/2/12,360841929,10/20/12,10000,651.21,524.96,6512100.00,5249600.00,1262500.00,0.240495,126.0,18
4,Europe,Romania,Cosmetics,2016,Online,M,3/16/16,707318103,5/3/16,10000,437.20,263.33,4372000.00,2633300.00,1738700.00,0.660274,174.0,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,Sub-Saharan Africa,Sudan,Meat,2015,Online,H,5/6/15,678830897,5/14/15,2,421.89,364.69,843.78,729.38,114.40,0.156846,57.0,8
65531,Sub-Saharan Africa,Ethiopia,Vegetables,2013,Online,M,1/7/13,814846360,2/2/13,1,154.06,90.93,154.06,90.93,63.13,0.694270,63.0,26
65532,Middle East and North Africa,Iran,Cereal,2014,Online,L,6/25/14,550689113,6/27/14,1,205.70,117.11,205.70,117.11,88.59,0.756468,89.0,2
65533,Sub-Saharan Africa,Lesotho,Snacks,2015,Offline,H,11/6/15,775984799,11/27/15,1,152.58,97.44,152.58,97.44,55.14,0.565887,55.0,21
65534,Middle East and North Africa,Tunisia,Meat,2017,Online,M,7/19/17,188195216,8/29/17,1,421.89,364.69,421.89,364.69,57.20,0.156846,57.0,41

In [4]:
df[df['Item Type'] == "Beverages"]

,Region,Country,Item Type,Fiscal Year,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Profit as % of Cost,Profit per Unit,Days to Ship
5,Asia,Maldives,Beverages,2017,Offline,C,7/28/17,932613790,8/13/17,10000,47.45,31.79,474500.00,317900.00,156600.00,0.492608,16.0,16
6,Sub-Saharan Africa,Tanzania,Beverages,2012,Online,L,6/28/12,773619306,7/19/12,9999,47.45,31.79,474452.55,317868.21,156584.34,0.492608,16.0,21
33,Middle East and North Africa,Morocco,Beverages,2011,Offline,C,9/4/11,367532861,9/9/11,9996,47.45,31.79,474310.20,317772.84,156537.36,0.492608,16.0,5
37,Sub-Saharan Africa,Lesotho,Beverages,2013,Online,L,11/26/13,654533946,11/28/13,9995,47.45,31.79,474262.75,317741.05,156521.70,0.492608,16.0,2
45,Middle East and North Africa,Libya,Beverages,2016,Online,M,6/19/16,128449761,6/19/16,9994,47.45,31.79,474215.30,317709.26,156506.04,0.492608,16.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65481,Europe,Netherlands,Beverages,2012,Online,L,1/6/12,753411328,1/12/12,9,47.45,31.79,427.05,286.11,140.94,0.492608,16.0,6
65513,Asia,Sri Lanka,Beverages,2015,Online,H,9/6/15,798963820,10/25/15,4,47.45,31.79,189.80,127.16,62.64,0.492608,16.0,49
65514,Europe,Denmark,Beverages,2015,Offline,C,10/28/15,964784419,12/2/15,4,47.45,31.79,189.80,127.16,62.64,0.492608,16.0,35
65519,Europe,Spain,Beverages,2010,Online,L,6/7/10,596511971,6/9/10,3,47.45,31.79,142.35,95.37,46.98,0.492608,16.0,2
65525,Europe,Switzerland,Beverages,2012,Online,C,12/12/12,315154254,1/3/13,2,47.45,31.79,94.90,63.58,31.32,0.492608,16.0,22

In [5]:
#Helper Funtions
def isPercentProfitConstant():
    products = set(df['Item Type'])
    for product in products:
        filteredDf = df[df['Item Type'] == product]
        if len(set(filteredDf['Profit as % of Cost'])) != 1:
            return False
    return True



def isProfitPerUnitConstant():
    products = set(df['Item Type'])
    for product in products:
        filteredDf = df[df['Item Type'] == product]
        if len(set(filteredDf['Profit per Unit'])) != 1:
            return False
    return True

def isSameAmountSold(product):
    regions = set(df['Region'])
    totalForAll = []
    for region in regions:
        filteredDf = df[df['Item Type'] == product]
        totalSold = 0
        for order in filteredDf['Units Sold']:
            totalSold += order
        totalForAll.append(totalSold)
    return len(set(totalForAll)) == 1

def calculateRegression(filtered_df):
    total_x = []
    total_y = []
    for date in set(list(filtered_df["Fiscal Year"])):
        if date != 2017: #Note- 2017 is an outlier for all products and changes the overall trend significantly
            filtered_by_date = filtered_df[filtered_df["Fiscal Year"] == date]
            total_x.append(date)
            total_y.append(filtered_by_date["Total Profit"].sum())
    slope, intercept, r_value, p_value, std_err = stats.linregress(total_x,total_y)
    return slope

In [8]:
#Question 1(a): Suggest which products should be dropped from selling in the next year
#moving forward and which products should be sold more.

#Method 3: Using linear regression- compare rates of growth or decline

#Note: The year 2017 is excluded- outlier for all products which makes the trend less accurate

products = list(set(df['Item Type']))
trends_by_product = []
for product in products:
    filtered_df = df[df["Item Type"] == product]
    trends_by_product.append(calculateRegression(filtered_df))
trend_zscores = stats.zscore(trends_by_product)
print(trend_zscores)
    
#Products with a slope that is more than 1 standard deviation above the mean should be sold more. Products with a slope
#that is more than 1 standard deviation below the mean should not be sold.
    
sell_more = [products[i] for i in range(0, len(products),1) if trend_zscores[i] > 1]
#Products to sell more: ['Snacks', 'Cereal']
print(sell_more)

sell_less = [products[i] for i in range(0, len(products),1) if trend_zscores[i] < -1]
print(sell_less)
#Products to sell less or stop selling: ['Cosmetics']

[ 0.04488807  0.15722008  1.45302619 -0.36345011  0.08665686 -0.28656777
  0.43273243 -0.67713594 -2.6489746   1.34892553  0.05996794  0.39271132]
['Cereal', 'Snacks']
['Cosmetics']

In [9]:
#Question 1(b): Should any region be given preference over the other?

#Method 1: Consider total profit from each region for each product
    #Note: This strategy assumes that the same amount of each product was sold in each region
    #Note: The assumption that profit per unit sold is constant accross regions has been proven above
    
#Step 1: Confirm the above assumption
products = list(set(df['Item Type']))
for product in products:
    print(isSameAmountSold(product)) #All are true
    
#Step 2: For each product, calculate the total profit by region
regions = list(set(df['Region']))
product_sums = []
for product in products:
    region_sums = []
    product_df = df[df['Item Type'] == product]
    for region in regions:
        region_df = product_df[product_df['Region'] == region]
        region_sum = sum(list(region_df["Total Profit"]))
        region_sums.append(region_sum)
    product_sums.append(region_sums)

#Step 3: Find regions which generate the maximum profit 

prioritizations = []
for i in range(0, len(product_sums),1):
    max_region = regions[product_sums[i].index(max(product_sums[i]))]
    prioritizations.append((products[i], max_region))
print(prioritizations)

#The following list(prioritizations) shows the regions where the selling of each product should be prioritized
#[('Beverages', 'Europe'), ('Vegetables', 'Europe'), ('Cosmetics', 'Sub-Saharan Africa'), 
#('Baby Food', 'Europe'), ('Office Supplies', 'Europe'), ('Personal Care', 'Europe'),
#('Snacks', 'Sub-Saharan Africa'), ('Fruits', 'Europe'), ('Household', 'Europe'), 
#('Cereal', 'Europe'), ('Clothes', 'Sub-Saharan Africa'), ('Meat', 'Europe')]

True
True
True
True
True
True
True
True
True
True
True
True
[('Fruits', 'Europe'), ('Vegetables', 'Europe'), ('Cereal', 'Europe'), ('Baby Food', 'Europe'), ('Clothes', 'Sub-Saharan Africa'), ('Household', 'Europe'), ('Meat', 'Europe'), ('Office Supplies', 'Europe'), ('Cosmetics', 'Sub-Saharan Africa'), ('Snacks', 'Sub-Saharan Africa'), ('Personal Care', 'Europe'), ('Beverages', 'Europe')]

In [10]:
#Question 1(b): Should any region be given preference over the other?

#Method 2- Use linear regression to look at rates of growth and decline in each region

regions = list(set(df['Region']))

product_slopes = []
for product in products:
    region_slopes = []
    for region in regions:
        filtered_df = df[df["Item Type"] == product]
        filtered_df = filtered_df[filtered_df["Region"] == region]
        region_slopes.append(calculateRegression(filtered_df))
    product_slopes.append(region_slopes)

maximum_regions_of_growth = []
for i in range(0, len(products),1):
    max_region = regions[product_slopes[i].index(max(product_slopes[i]))]
    maximum_regions_of_growth.append((products[i], max_region))
print(maximum_regions_of_growth)

#This approach assumes that regions where the total profits of certain products are growing the fastest should be 
#prioritized where those specific products

#This list of tuples shows which region should be prioritized for each product
#[('Cosmetics', 'Asia'), ('Clothes', 'Sub-Saharan Africa'), ('Vegetables', 'Sub-Saharan Africa'), 
#('Household', 'Central America and the Caribbean'), ('Baby Food', 'Central America and the Caribbean'), 
#('Beverages', 'Europe'), ('Cereal', 'Europe'), ('Meat', 'Europe'), ('Snacks', 'Sub-Saharan Africa'), 
#('Fruits', 'Australia and Oceania'), ('Office Supplies', 'Australia and Oceania'), 
#('Personal Care', 'Middle East and North Africa')]

[('Fruits', 'Australia and Oceania'), ('Vegetables', 'Sub-Saharan Africa'), ('Cereal', 'Europe'), ('Baby Food', 'Central America and the Caribbean'), ('Clothes', 'Sub-Saharan Africa'), ('Household', 'Central America and the Caribbean'), ('Meat', 'Europe'), ('Office Supplies', 'Australia and Oceania'), ('Cosmetics', 'Asia'), ('Snacks', 'Sub-Saharan Africa'), ('Personal Care', 'Middle East and North Africa'), ('Beverages', 'Europe')]

In [11]:
#Question 2(a): Which products are the easiest to sell?

#Look at the average time difference between order date and ship date for each product
products = list(set(df['Item Type']))
regions = regions = list(set(df['Region']))

region_averages = []

for region in regions:
    region_df = df[df['Region'] == region]
    product_averages = []
    for product in products:
        product_df = region_df[region_df['Item Type'] == product]
        product_averages.append(product_df["Days to Ship"].mean())
    region_averages.append(product_averages)
    
    
easiest_sold = []
for i in range(0, len(regions),1):
    min_product = products[region_averages[i].index(min(region_averages[i]))]
    easiest_sold.append((regions[i], min_product))
print(easiest_sold)

#The following products are easiest to sell in each region
#[('Europe', 'Snacks'), ('Sub-Saharan Africa', 'Meat'), ('Australia and Oceania', 'Fruits'), 
#('Asia', 'Beverages'), ('Central America and the Caribbean', 'Cosmetics'), 
#('North America', 'Cereal'), ('Middle East and North Africa', 'Office Supplies')]

[('Sub-Saharan Africa', 'Meat'), ('Asia', 'Beverages'), ('Middle East and North Africa', 'Office Supplies'), ('North America', 'Cereal'), ('Central America and the Caribbean', 'Cosmetics'), ('Australia and Oceania', 'Fruits'), ('Europe', 'Snacks')]

In [12]:
#Question 2(b): Is there a relationship between products or region?

for product in products:
    filtered_df = df[df["Item Type"] == product]
    print(product)
    print(calculateRegression(filtered_df))
    print()
#Relationship between products: Profit from most major food products, such as beverages, cereal, meat, snacks, and vegetables
#are increasing over time, signaling a wider consumer demand for food.

Fruits
-130886.15321428567

Vegetables
190318.912857144

Cereal
3895580.7257142854

Baby Food
-1298499.0185714343

Clothes
-11451.394285711858

Household
-1078659.6239285767

Meat
978126.1285714294

Office Supplies
-2195460.4464285714

Cosmetics
-7833787.365714299

Snacks
3597912.570000001

Personal Care
-87766.38500000058

Beverages
863688.709285714